.customer-page {
  display: flex;
  gap: 20px;
 
   margin-top: 80px;   
  padding: 20px;
  text-align: left;
}

.customer-list-section {
  width: 40%;
}

.customer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customer-card {
  padding: 15px;
  background: #6cc7e2;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

.customer-card:hover {
  background: #f4f4f4;
}

.customer-card.active {
  border: 2px solid #1976d2;
}


.customer-details-section {
  width: 60%;
  padding: 20px;
  background: #8793b3;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.customer-details p {
  font-size: 16px;
  margin: 10px 0;
}

.no-selection {
  color: #777;
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 900px) {
  .customer-page {
    flex-direction: column;    
  }

  .customer-list-section,
  .customer-details-section {
    width: 100%;              
  }
}
