
/*
.top-row {
  margin-top: 80px;   
  padding: 20px;
  text-align: left;
 
}
  */

.top-box-container {
  display: flex;
  gap: 20px;
  margin: 20px 0;
   margin-top: 80px;   
  padding: 20px;
  text-align: left;
  color: white;
 
}

.top-box {
  width: 280px;
  height: 120px;
  border: 2px solid black;  
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(86, 91, 136);
}

.top-box h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.top-box p {
  margin: 5px 0 0;
  font-size: 25px;
  font-weight: bold;
}


.charts-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
}

.area-chart-box {
  flex: 1;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pie-chart-box {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-message-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.date-message-text {
  font-size: 14px;
  color: #2b345c;
}



























