.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #f5f5f5;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.products-container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;

}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  margin: 10px 0 5px;
  font-size: 18px;
  font-weight: 600;
}

.product-desc {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.product-price {
  font-weight: bold;
  color: #022a4d;
  font-size: 16px;
}

.buy-btn {
  background: #1e1e2d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.buy-btn:hover {
  background: #33334d;
}
