
/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;  
  background: #1e1e2d;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;

}

.logo {
  margin: 0 0 30px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.dash {
  padding: 12px;
  background: #3a3a4d;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

/* Menu items */
.menu {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  margin: 0;
}

.menu li {
  padding: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

.menu li:hover,
.menu li.active {
  background: #39394d;
}

/* Content Section 
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

/* Topbar 
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 250px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 50px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
*/
/*Responsive */
@media (max-width: 1000px) {
  

  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
  }

  .logo {
    margin: 0;
    font-size: 18px;
  }

  .dash {
    margin: 0;
    padding: 10px 15px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: auto;
  }

  .menu li {
    margin-right: 15px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .logout {
    margin-left: auto;
    white-space: nowrap;
    padding: 10px 15px;
  }

  .search {
    width: 150px;
  }
}
