.signup-login-page {
  width: 100vw;
  height: 100vh;

  background-image: url('https://static.vecteezy.com/system/resources/previews/007/164/537/non_2x/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.signup-login-page .wrapper {
  width: 60%;
  max-width: 300px;
  padding: 30px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(6px);
  color: white;
  position: relative;
  z-index: 1;
}

/* Buttons */
.signup-login-page .topbutton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.signup-login-page .topbutton button {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: rgba(255,255,255,0.3);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.signup-login-page .topbutton button.active {
  background: linear-gradient(135deg, #f8704d, #f7a76b);
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.signup-login-page .input-box input {
  width: 90%;
  height: 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.signup-login-page .input-box input::placeholder {
  color: #fff;
}
.signup-login-page .submit-button button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #f8704d, #f7a76b);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.signup-login-page .submit-button button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.signup-login-page .submit-button button:disabled {
  background: rgb(85, 80, 131);
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .signup-login-page {
    padding: 15px;
  }

  .signup-login-page .wrapper {
    padding: 20px;
    width: 100%;
    max-width: 350px;
  }

  .signup-login-page .topbutton button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .signup-login-page .input-box input {
    font-size: 14px;
    height: 38px;
  }

  .signup-login-page .submit-button button {
    padding: 10px;
    font-size: 15px;
  }
}
  
.country-and-mobile {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
   margin-bottom: 15px;  
}
.country-and-mobile select {
  width: 50%;
  height: 45px;
  background: transparent;
  color: white;
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 50px;
  padding: 10px 15px;
  outline: none;
  font-size: 14px;
  appearance: none;    
  cursor: pointer;
}
.country-and-mobile select option {
  color: black;
}
  
.mobile-box {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 50px;
  padding: 0 12px;
  height: 42px;
  background: transparent;
}

.mobile-box input {
  background: transparent;
  border: none;
  outline: none;
   color: #fff;
  width: 120px;
  font-size: 15px;
}

.mobile-box input::placeholder {
    color: #fff;
}
