/* MAIN LAYOUT */
.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* FIXED SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* RIGHT SIDE AREA */
.main {
  margin-left: 220px; /* push aside of sidebar */
  width: calc(100% - 220px);
  min-height: 100vh;
  position: relative;
}

/* FIXED TOPBAR */
.topbar {
  position: fixed;
  top: 0;
  left: 220px;

  height: 70px;
  width: calc(97% - 220px);

  background: white;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 10;
}

 